*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    color: #73879C;
    font-family: "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
    font-size: 13px;
    font-weight: 400;
}

h2,
h3 {
    font-size: 18px;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 10px;
}

a {
    color: #5A738E;
    text-decoration: none;
}

a,
a:visited,
a:focus,
a:active,
:visited,
:focus,
:active {
    outline: 0;
}

a:hover,
a:focus {
    text-decoration: none;
}

#app {
    width: 100%;
    padding: 0;
    margin: 0;
}

section#main {
    background: #F7F7F7;
}

.sidebar_closed section#main {
    padding: 10px 20px;
    margin-left: 70px;
    z-index: 2;
}

.sidebar_open section#main {
    padding: 10px 20px 0;
    margin-left: 230px;
}

@media (max-width: 991px) {
    section#main {
        padding: 10px !important
    }

    .sidebar_open section#main {
        width: 100%;
        margin: 0;
        padding-right: 0;
    }
}

.negative_spacing {
    margin-right: -10px;
    margin-left: -10px;
}

.negative_spacing:before,
.negative_spacing:after {
    display: table;
    content: " ";
}

.negative_spacing:after {
    clear: both;
}

footer {
    background: #F7F7F7;
    padding: 15px 20px;
    display: block;
    text-align: center;
}

@media (min-width: 992px) {
    footer {
        margin-left: 230px
    }
}

.sidebar_closed footer {
    margin-left: 70px;
}

#top_bar {
    float: left;
    background: #EDEDED;
    border-bottom: 1px solid #D9DEE4;
    margin-bottom: 10px;
    width: 100%;
    position: relative;
    height: 57px;
    display: block;
}

@media (min-width: 480px) {
    #top_bar {
        position: static;
    }
}

.sidebar_closed #top_bar {
    margin-left: 70px;
    z-index: 2;
}

.sidebar_open #top_bar {
    margin-left: 230px;
}

@media (max-width: 991px) {
    .sidebar_open #top_bar {
        width: 100%;
        margin: 0;
    }
}

#toggle {
    float: left;
    margin: 0;
    padding-top: 16px;
    width: 70px;
}

#toggle a {
    padding: 15px 15px 0;
    margin: 0;
    cursor: pointer;
}

#toggle a i {
    font-size: 26px;
}

.page_box {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px 17px;
    display: inline-block;
    background: #fff;
    border: 1px solid #E6E9ED;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    column-break-inside: avoid;
    opacity: 1;
    transition: all .2s ease;
}

@media (max-width: 480px) {
    .page_box {
        padding: 10px 0;
    }
}

.page_box_title {
    border-bottom: 2px solid #E6E9ED;
    padding: 1px 5px 6px;
    margin-bottom: 10px;
    float: left;
    clear: both;
    width: 100%;
}

.page_box_title h2,
.page_box_title h3 {
    margin: 5px 0 6px;
    float: left;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

@media (max-width: 1200px) {
    .page_box_title h2,
    .page_box_title h3 {
        width: 62%;
    }

    .page_box_title h2 {
        font-size: 17px;
    }

    .page_box_title h3 {
        font-size: 15px;
    }
}

.page_box_content {
    padding: 0 5px 6px;
    position: relative;
    width: 100%;
    float: left;
    clear: both;
    margin-top: 5px;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
    background-color: transparent;
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}

th {
    width: 5%;
}

td {
    width: 50%;
}

td,
th {
    padding: 0;
}

th {
    text-align: left;
}

@media (max-width: 480px) {
    td {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        max-width: 80px;
    }

    table > tbody > tr > th {
        padding-right: 0 !important;
    }
}

table > tbody > tr > th,
table > tbody > tr > td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
}

table > tbody > tr:not(:first-child) {
   border-top: 1px solid #ddd;
}
