.root {
    composes: col-md-3 from global;
    min-height: 100% !important;
    padding: 0 !important;
    background: #2A3F54;
    position: fixed !important;
    height: 100% !important;
    display: block !important;
}

.rootClosed {
    composes: root;
    width: 70px !important;
    z-index: 9999 !important;
}

.rootOpen {
    composes: root;
    width: 230px !important;
    z-index: 1 !important;
}

@media (max-width: 991px) {
    .rootOpen {
        display: none !important;
    }
}

.navTitle {
    float: left;
    background: #2A3F54;
    border-radius: 0;
    height: 57px;
    margin-bottom: 0;
}

.navTitleOpen {
    composes: navTitle;
    width: 230px;
}

.navTitleClosed {
    composes: navTitle;
    width: 70px;
}

.navTitleClosed a span {
    display: none;
}

.navTitleClosed a i {
    font-size: 27px;
    margin: 10px 0 0 6px;
}

.siteTitle {
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: 400;
    font-size: 22px;
    width: 100%;
    color: #ECF0F1 !important;
    margin-left: 0 !important;
    line-height: 59px;
    display: block;
    height: 55px;
    margin: 0;
    padding-left: 10px;
}

.siteTitle:hover,
.siteTitle:focus {
    text-decoration: none;
}

.siteTitle i {
    padding: 5px 6px;
}

.mainMenu {
    margin-bottom: 35px;
    clear: both;
}

.mainMenu ul {
    margin-top: 10px;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.mainMenu ul li {
    position: relative;
    display: block;
    cursor: pointer;
}

.mainMenu ul li a {
    margin-bottom: 6px;
    color: #E7E7E7;
    font-weight: 500;
    position: relative;
    display: block;
    padding: 13px 15px 12px;
}

.mainMenu ul li a:hover {
    color: #F2F5F7 !important;
}

.mainMenu ul li a:hover,
.mainMenu ul li a:focus {
    text-decoration: none;
    background: transparent;
}

.mainMenuFA {
    width: 26px;
    opacity: .99;
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.mainMenuOpen {
    composes: mainMenu;
}

.mainMenuClosed {
    composes: mainMenu;
    margin: 0;
}

.mainMenuClosed ul li a {
    text-align: center;
    font-weight: 400;
    font-size: 10px;
    padding: 10px 5px;
}

.mainMenuClosed ul li a i {
    font-size: 25px !important;
    text-align: center;
    width: 100% !important;
    margin-bottom: 5px;
}
